<footer class="home-footer">
  <section class="home-footer-top">
    <div class="container">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap">
        <div fxFlex="50" class="footer-box">
          <h4 class="footer-box-title"><b>Sobre o nós</b></h4>
          <p>Falar algo sobre o sistema</p>
          <div class="socials pt-1">
            <ul>
              <li>
                <button mat-button id="dashboard-topbtn" class="hometop-btn" [routerLink]="'/faq'"><i
                  class="fas fa-question fa-2x"></i>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section>
</footer>
