<div>
  <div fxLayout="col wrap">
    <form disabled="disable" [formGroup]="form">
      <div
        fxLayout="row wrap"
        fxLayoutAlign="start center"
        fxLayoutGap="10px"
      >
        <mat-card-title fxFlex="50" fxFlexOffset.xs="25" fxFlexOffset="40">Adicionar Bairro</mat-card-title>

        <mat-form-field class="midle-width" fxFlex="100">
          <input matInput type="text" id="name" formControlName="name"
                 placeholder="Nome Completo">
        </mat-form-field>
        <button *ngIf="!isUpdating; else update" mat-raised-button color="primary" (click)="onSave()" type="submit">
          Cadastrar
        </button>

        <ng-template #update>
          <button mat-raised-button color="primary" (click)="onSave()" type="submit">Atualizar</button>
          <button mat-raised-button color="warn" (click)="onCancelUpdate()" type="submit">Cancelar</button>
        </ng-template>
      </div>
    </form>
    <div
      fxLayout="row wrap"
      fxLayoutAlign="start center"
      fxLayoutGap="10px"
    >
      <div *ngFor="let neighborhood of neighborhoods">
        <div fxLayout="row wrap">
          <h1>{{neighborhood.name}}</h1>
          <button mat-raised-button color="warn" (click)="onRemove(neighborhood)" type="submit">
            <mat-icon>clear</mat-icon>
          </button>
          <button mat-raised-button color="warn" (click)="onUpdate(neighborhood)" type="submit">
            <mat-icon>create</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>



