<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <div *ngIf="isManager()">
        <mat-list *ngFor="let route of managerRoutes">
          <mat-list-item routerLinkActive="active" [routerLink]="route.url">{{route.title}}</mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </div>
      <div *ngIf="isAdmin()">
        <mat-list *ngFor="let route of adminRoutes">
          <mat-list-item routerLinkActive="active" [routerLink]="route.url">{{route.title}}</mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </div>
      <div *ngIf="isUser()">
        <mat-list *ngFor="let route of userRoutes">
          <mat-list-item routerLinkActive="active" [routerLink]="route.url">{{route.title}}</mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </div>
      <div *ngIf="checkLogin(); else signIn">
        <a mat-list-item (click)="signOut()">Sair</a>
      </div>
      <ng-template #signIn>
        <a mat-list-item routerLinkActive="active" routerLink="auth/sign-in">Entrar</a>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>reclama-guarapuava-oficial</span>
    </mat-toolbar>

    <router-outlet></router-outlet>



  </mat-sidenav-content>
</mat-sidenav-container>
<utfpr-footer></utfpr-footer>
