<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap">
  <div fxFlex="50" fxLayout="row wrap" fxLayoutAlign="start center">
    <form disabled="disable" [formGroup]="form">
      <div>
        <mat-card-title fxFlex="100">Adicionar Problema</mat-card-title>
        <mat-form-field class="midle-width" fxFlex="100">
          <input matInput type="text" id="name" formControlName="name"
                 placeholder="nome da problema">
        </mat-form-field>
        <button *ngIf="!isUpdating; else update" mat-raised-button color="primary" (click)="onSave()" type="submit">
          <mat-icon>done</mat-icon>
        </button>

        <ng-template #update>
          <button mat-raised-button color="primary" (click)="onUpdate()" type="submit">Atualizar</button>
          <button mat-raised-button color="warn" (click)="onCancelUpdate()" type="submit">Cancelar</button>
        </ng-template>
      </div>
    </form>
  </div>
  <div fxFlex="50" fxLayout="row wrap" fxLayoutAlign="start center">
    <div *ngFor="let problem of problems" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
      <div fxFlex="50">
        <h1>{{problem.name}}</h1>
      </div>
      <div class="buttons-size" fxFlex="50">
        <button mat-raised-button color="warn" (click)="onRemove(problem)" type="submit">
          <mat-icon>clear</mat-icon>
        </button>

        <button mat-raised-button color="warn" (click)="onEdit(problem)" type="submit">
          <mat-icon>create</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
